---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Feature from "../components/Feature.astro";
import Works from "../components/works.astro";
import Testimonial from "../components/Testimonial.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<Layout title="Fetcch">
  <section class="max-w-8xl mx-auto">
    <Hero />
    <Feature />
    <Works />
    <Testimonial />
    <Footer />
  </section>
</Layout>
