<header class="mx-auto w-full h-[8vh] p-6 bg-transparent">
  <div class="w-full flex items-center justify-between h-full">
    <div>
      <img class="h-6 sm:h-8 w-auto" src="/assets/fetcch.svg" alt="" />
    </div>
    <a
      href="#"
      class="inline-flex items-center px-4 py-2 text-sm font-medium rounded-full bg-gradient-to-b from-[#FDB658] to-[#FF5D46] text-white"
    >
      Request SDK
    </a>
  </div>
</header>
